<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="todoItem">
    <img [src] = "todoItem.image_Url"/>
    <ion-card-header>
      <ion-card-subtitle>Things to Do:</ion-card-subtitle>
      <ion-card-title>{{todoItem.name}}</ion-card-title>
    </ion-card-header>

  <ion-card-content>
    {{todoItem.location}}
  </ion-card-content>
 
  </ion-card>  
 <p>{{id}}</p>
  <p style="text-align:center">
    <ion-button color="danger" (click)="deleteItem()">Delete Item</ion-button>
  </p>
</ion-content>
