<ion-header [translucent]="true" color="primary">
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-button color="secondary" routerLink="/add">
        <ion-icon slot="icon-only" ios="add" md="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      To Do App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list>
      <!-- pass parameters/ data, todo.id to next page -->
      <!-- press the app, redirects to another page with data-->
      <ion-item *ngFor="let todo of todoList" [routerLink]="['/detail/', todo.id]">
       <ion-avatar slot="start">
     
        <img [src]="todo.image_Url">
     
        </ion-avatar>
          <ion-label>
            <h2>{{todo.name}}</h2>
            <h3>{{todo.location}}</h3>
            <p>{{todo.time}}</p>
          </ion-label>
      </ion-item>
    </ion-list>

 


</ion-content>
